* {
  margin: 0;
  padding: 0;
}
.landing-page {
  background: url(../images/pizza-gcf0e07180_1920.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.order {
  height: 80vh;
  background-color: black;
}
